.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.timeline-title {
    margin-top: 32px;
    font-size: 32px;
    font-weight: bold;
    color: #B0E1F1;
}

.timeline-line-wrapper {
  position: relative;
  width: 100%;
  min-height: 200px; 
  margin: 40px 0;

  overflow-x: auto;
  overflow-y: visible;

  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.5) rgba(255,255,255,0.2);
}

.markers {
  position: relative;
  display: flex;
  align-items: center;

  overflow-x: auto;

  gap: 8px;
  padding: 0px 16px;

  width: max-content;
  height: 100%;
  min-width: 100%;
}

.markers .marker-item {
  display: flex;
  align-items: center; 
  cursor: pointer;
}

.markers .marker-item.top {
  transform: translateY(-35px);
}

.markers .marker-item.bottom {
  transform: translateY(35px);
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #B0E1F1;
  transform: translateY(-50%);
  z-index: 0;
}

.timeline-actions {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.timeline-actions button {
    background-color: #B0E1F1;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
}