<div class="marker-wrapper">
  <!-- texto acima -->
  <ng-container *ngIf="position === 'top'">
    <div class="text-group">
      <div class="marker-date">{{ date }}</div>
      <div class="marker-label">{{ label }}</div>
    </div>
    <div class="dash-line"></div>
  </ng-container>

  <!-- a bola em si -->
  <div class="marker"></div>

  <!-- texto abaixo -->
  <ng-container *ngIf="position === 'bottom'">
    <div class="dash-line"></div>
    <div class="text-group">
      <div class="marker-date">{{ date }}</div>
      <div class="marker-label">{{ label }}</div>
    </div>
  </ng-container>
</div>
