.event-detail-container {
    color: #fff;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 32px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.btn-close {
    align-self: flex-end;
    background: transparent;
    border: none;
    color: #B0E1F1;
    font-size: 47px;
    cursor: pointer;
    margin-bottom: 16px;
}

.event-detail-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.detail-label {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.detail-date {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
}

.event-detail-body {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}

.detail-text {
    flex: 1 1 50%;
    line-height: 1.5;
}

.detail-image {
    display: flex;
    flex: 1 1 40%;
    width: 50%;
    justify-content: flex-end;
}

.detail-image img {
    width: 80%;
    height: auto;
    border-radius: 4px;
}