.event-detail-container {
    color: #fff;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 32px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.btn-close {
    align-self: flex-end;
    background: transparent;
    border: none;
    color: #B0E1F1;
    font-size: 47px;
    cursor: pointer;
    margin-bottom: 16px;
}

.event-detail-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-label {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.detail-date {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
}

.event-detail-body {
    display: flex;
    align-items: space-between;
}

.detail-text {
    flex: 1 1 40%;
    line-height: 1.5;
}

.detail-image {
    display: flex;
    flex: 1 1 40%;
    width: 50%;
    justify-content: flex-end;
}

.detail-image img {
    width: 80%;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .event-detail-container {
        height: 100%;
        margin-top: 0px;
    }

    .event-detail-body {
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
    }

    .btn-close {
        font-size: 32px;
    }


    .detail-text {
        font-size: 12px;
        height: 60%;
    }

    .detail-image {
        width: 100%;
        height: 50%;
    }

    .detail-image img {
        width: 100%;
        height: auto;
    }

    .event-detail-header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

}