<div class="contagem-conteudo">
    <p class="contagem-title">COMPLETAREMOS {{anosTotal + 1}} ANOS JUNTOS EM</p>
    <div class="contagem-datas">
        <div class="contagem-dias">
            <app-contador-card [numero]="diasFaltando" rotulo="Dias" ></app-contador-card>
        </div>
        <div class="contagem-horario">
            <app-contador-card [numero]="horasFaltando" rotulo="Horas"></app-contador-card>
            <app-contador-card [numero]="minutosFaltando" rotulo="Minutos"></app-contador-card>
            <app-contador-card [numero]="segundosFaltando" rotulo="Segundos"></app-contador-card>
        </div>
    </div>
</div>
