.contador-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contador-datas {
    display: flex;
}

.contador-title {
    font-weight: bold;
    font-size: 85px;
    color: #B0E1F1;
}

.anos-dias {
    display: flex;
    gap: 70px;
    margin-right: 70px;
}

.horario {
    display: flex;
    gap: 15px;
}