.contador-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contador-datas {
    display: flex;
    width: 100%;
}

.contador-title {
    font-weight: bold;
    font-size: 85px;
    color: #B0E1F1;
}

.anos-dias {
    display: flex;
    gap: 70px;
    margin-right: 70px;
}

.horario {
    display: flex;
    gap: 15px;
}

@media (max-width: 1300px)
{
    .contador-datas {
        flex-direction: column;
    }

    .contador-title {
        font-size: 30px;
    }

    .anos-dias {
        gap: 7px;
        margin-right: 0px;
        justify-content: center;
        margin-bottom: 25px;
    }

    .horario {
        gap: 4px;
        justify-content: center;
    }
}